<section class="login-page">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>{{ 'iam.login.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'iam.login.subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="language-box">
        <span>{{ 'iam.login.language' | translate }}</span>
        <mat-button-toggle-group
          [value]="selectedLang"
          appearance="standard"
          aria-label="Login language"
        >
          <mat-button-toggle value="en" (click)="changeLanguage('en')">English</mat-button-toggle>
          <mat-button-toggle value="es" (click)="changeLanguage('es')">Español</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <!--
      <form [formGroup]="form" (ngSubmit)="signIn()">
      -->
      <form [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'iam.login.email' | translate }}</mat-label>
          <input matInput type="email" formControlName="email" autocomplete="email" />
          <mat-error *ngIf="emailCtrl?.hasError('required')">
            {{ 'iam.validation.emailRequired' | translate }}
          </mat-error>
          <mat-error *ngIf="emailCtrl?.hasError('email')">
            {{ 'iam.validation.emailInvalid' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'iam.login.password' | translate }}</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            autocomplete="current-password"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword = !hidePassword"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordCtrl?.hasError('required')">
            {{ 'iam.validation.passwordRequired' | translate }}
          </mat-error>
          <mat-error *ngIf="passwordCtrl?.hasError('minlength')">
            {{ 'iam.validation.passwordMinLength' | translate }}
          </mat-error>
        </mat-form-field>
        <!--
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="authStore.loading()"
        >
      -->
        <button
  mat-flat-button
  color="primary"
  type="button"
  routerLink="/dashboard"
>
          @if (authStore.loading()) {
            <mat-spinner diameter="22" />
          } @else {
            {{ 'iam.login.action' | translate }}
          }
        </button>

      </form>

      <p class="sign-up-link">
        {{ 'iam.login.noAccount' | translate }}
        <a routerLink="/iam/sign-up">{{ 'iam.login.signUpLink' | translate }}</a>
      </p>
    </mat-card-content>
  </mat-card>
</section>
